@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import 'tailwindcss';

body {
  font-family: 'Noto Sans TC', sans-serif;
}
html {
  font-size: 16px;
}

@theme {
  --color-primary: #0027d5;
  --color-secondary: #6c757d;
  --color-gray-500: #4b4b4b;

  --text-custom-2xl: 28px;
  --text-custom-5xl: 52px;
  --text-custom-8xl: 120px;
}
@utility container {
  padding-left: 12px;
  padding-right: 12px;
}

@layer components {
  .button-primary {
    @apply font-bold bg-primary rounded-[40px] py-1.5 px-3;
  }
  .button-outline {
    @apply font-medium;
  }
  .text-7-bold {
    @apply text-custom-2xl font-bold;
  }
}

/* - 16px fw 500 text-`[#4b4b4b]` border 1px radius 40px py-8px px-16px  */
